body[data-route="family_trees/index"] {

  #family_tree_container {
    min-width: 50%;
  }

  .family-tree-chart {
    .edge { display: none; }

    .node {
      .title {
        background: none;
        border: 1px solid rgba(217, 83, 79, 0.8);
        height: 130px;
        width: 120px;
      }
    }
  }

}
